{% extends "base.html" %}

{% block about %}
<!-- About Section -->
<section class="bg-primary text-white mb-0" id="sobre">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">About</h2>
    <hr class="star-light mb-5">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">O já tradicional Porteira Adentro é uma grande mostra do conhecimento acadêmico e das propostas de inovações tecnológicas para o campo, enriquecendo a formação do nosso aluno e marcando sua passagem pela Fazu, através da interação entre acadêmicos, professores, empresas e a comunidade em geral</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">Todos os trabalhos expostos são avaliados por professores, técnicos e convidados, a fim de que os alunos possam explanar e aprender cada vez mais sobre o tema e o projeto desenvolvidos.</p>
      </div>
    </div>
    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-light" href="#">
        <i class="fa fa-download mr-2"></i>
        Download Now!
      </a>
    </div>
  </div>
</section>
{% endblock about %}