{% extends "base.html" %}
{% load staticfiles %}

{% block container %}
    <!-- home -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <h1 class="text-uppercase mb-0">Avaliação Porteira Adentro</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Desenvolvedores: Leandro Cruvinel &amp; Amanda Gonçalves</h2>
        <hr class="star-light">
        <img class="img-fluid mb-5 d-block mx-auto" src="{% static 'img/bosque.png' %}" alt="">
      </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="anteriores">
      <div class="container">
        <hr class="star-dark mb-5">
        <h2 class="text-center text-uppercase text-secondary mb-0">Edições Anteriores</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'img/passado1.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'img/passado2.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'img/passado3.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'img/passado4.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'img/passado5.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'img/passado6.jpg' %}" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="sobre">
      <div class="container">
      	<hr class="star-light mb-5">
        <h2 class="text-center text-uppercase text-white">Sobre o evento</h2>
        <hr class="star-light mb-5">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead">O já tradicional Porteira Adentro é uma grande mostra do conhecimento acadêmico e das propostas de inovações tecnológicas para o campo, enriquecendo a formação do nosso aluno e marcando sua passagem pela Fazu.</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">Todos os trabalhos expostos são avaliados por professores, técnicos e convidados, a fim de que os alunos possam explanar e aprender cada vez mais sobre o tema e o projeto desenvolvidos.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Localização</h4>
            <p class="lead mb-0">Av. do Tutuna, 720 - Vila Celeste, 
              <br>Uberaba - MG, 38061-500</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Nossas redes sociais</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/leandrocl2005">
                  <i class="fa fa-fw fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.linkedin.com/in/leandrolemes/">
                  <i class="fa fa-fw fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/amanda.goncalves.9406417">
                  <i class="fa fa-fw fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">Equipe MineirAção</h4>
            <p class="lead mb-0">Leandro Cruvinel 
              <br>Amanda Gonçalves</p>
          </div>
        </div>
      </div>
    </footer>
{% endblock container %}